<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Log to a file -->
		<target name="file" xsi:type="File" fileName="logs/logfile.log" layout="${longdate} | ${level} | ${message}" />
	</targets>
	<rules>
		<!-- Write all logs to the file -->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>

